
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
            <a href="#">
                <i class="fa fa-desktop"></i>
                <span>Dashboard</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="../../pages/dashboard/statistics.html"><i class="fa fa-area-chart"></i>Statistics</a></li>
                <li><a href="../../pages/dashboard/timeline.html"><i class="fa fa-rss"></i>Feed</a></li>
            </ul>
            </li>      
            
            <li class="treeview">
            <a href="#">
                <i class="fa fa-lock"></i>
                <span>Admin</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
            
                <li class="treeview">
                        <a href="#">
                        <i class="fa fa-shield"></i>
                        <span>Admin Settings</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../../pages/admin/manage/admin-add.html"><i class="fa fa-user-plus"></i>Add Admin</a></li>
                            <li><a href="../../pages/admin/manage/admin-manage.html"><i class="fa fa-circle-o"></i> Manage Admins</a></li>
                        </ul>
                    </li>          
                <li class="treeview">
                <a href="#">
                    <i class="fa fa-mobile"></i>
                    <span>User-Device Settings</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../../pages/admin/manage_devices/device-add.html"><i class="fa fa-plus"></i>Add User-Device</a></li>
                    <li><a href="../../pages/admin/manage_devices/device-manage.html"><i class="fa fa-circle-o"></i> Manage User-Devices</a></li>           
                </ul>
                </li>          
            </ul>
            </li>  
        
            <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i> <span>Users</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="../../pages/users/users-block.html"><i class="fa fa-ban"></i> Block Users</a></li>
                <li><a href="../../pages/users/users-manage.html"><i class="fa fa-circle-o"></i> Manage Blocked Users</a></li>
            </ul>
            </li>
            <li class="treeview">
            <a href="#">
                <i class="fa fa-map-marker"></i> <span>Locations</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="../../pages/locations/locations-add.html"><i class="fa fa-plus"></i> Add Location</a></li>
                <li><a href="../../pages/locations/locations-manage.html"><i class="fa fa-circle-o"></i> Manage Locations</a></li>
            </ul>
            <li class="treeview">
                <a href="#">
                <i class="fa fa-exclamation"></i> <span>User Requests</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                <li><a href="../../pages/user_requests/ratings.html"><i class="fa fa-star"></i> View Ratings</a></li>
                <li><a href="../../pages/user_requests/comments-manage.html"><i class="fa fa-comment-o"></i> Manage Comments</a></li>
                <li><a href="../../pages/user_requests/suggestions-review.html"><i class="fa fa-lightbulb-o"></i> Review Suggestions</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>